@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-josefin-sans: var(--font-josefin-sans);

  --text-h1: 60px;
  --text-h1--font-weight: 600;
  --text-h1--line-height: normal;
  --text-h1--letter-spacing: -3px;
  --text-h2: 50px;
  --text-h2--font-weight: 600;
  --text-h2--line-height: normal;
  --text-h2--letter-spacing: -2.5px;
  --text-h3: 40px;
  --text-h3--font-weight: 600;
  --text-h3--line-height: normal;
  --text-h3--letter-spacing: -2px;
  --text-h4: 30px;
  --text-h4--font-weight: 600;
  --text-h4--line-height: normal;
  --text-h4--letter-spacing: -1.5px;
  --text-h5: 24px;
  --text-h5--font-weight: 600;
  --text-h5--line-height: normal;
  --text-h5--letter-spacing: -1.2px;
  --text-headline: 20px;
  --text-headline--font-weight: 500;
  --text-headline--line-height: normal;
  --text-headline--letter-spacing: -1px;
  --text-bodyLarge: 18px;
  --text-bodyLarge--font-weight: 400;
  --text-bodyLarge--line-height: normal;
  --text-bodyLarge--letter-spacing: -0.9px;
  --text-body: 16px;
  --text-body--font-weight: 400;
  --text-body--line-height: normal;
  --text-body--letter-spacing: -0.8px;
  --text-footnote: 14px;
  --text-footnote--font-weight: 400;
  --text-footnote--line-height: normal;
  --text-footnote--letter-spacing: -0.7px;
  --text-caption: 13px;
  --text-caption--font-weight: 400;
  --text-caption--line-height: normal;
  --text-caption--letter-spacing: -0.65px;
  --text-small: 12px;
  --text-small--font-weight: 400;
  --text-small--line-height: normal;
  --text-small--letter-spacing: -0.6px;

  --color-Text: #000000;

  --color-neutral-050: #fdf7e1;
  --color-neutral-100: #e5e5e5;
  --color-neutral-300: #b2b2b2;
  --color-neutral-500: #999999;
  --color-neutral-700: #666666;
  --color-neutral-900: #333333;
  --color-neutral-1000: #000000;

  --color-sandy-soil-050: #fdf7e1;
  --color-sandy-soil-100: #fceec4;
  --color-sandy-soil-300: #f0ce8c;
  --color-sandy-soil-500: #e7b767;
  --color-sandy-soil-700: #c6934b;
  --color-sandy-soil-900: #855420;
  --color-sandy-soil-1000: #6e3e13;

  --color-deep-teal-050: #d1f7e8;
  --color-deep-teal-100: #a7f0d9;
  --color-deep-teal-300: #72d3bd;
  --color-deep-teal-500: #1a6e6a;
  --color-deep-teal-700: #135b5e;
  --color-deep-teal-900: #0d464f;
  --color-deep-teal-1000: #08333f;

  --background-image-gradient-primary: linear-gradient(
    90deg,
    #0d464f 0%,
    #1a6e6a 50%,
    #e7b767 100%
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-josefin-sans), Arial, Helvetica, sans-serif;
}
